# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

# Importing Dataset

In [2]:
df = pd.read_csv('CSE_445_Project_DB.csv')
df.head()

,Team names,PLAYER ID,PLAYER NAME,Key_Player,MATCHES,TOTAL RUN,BATTING AVG,Strike Rate,Wickets,ECONOMY,IMPACT (batting),wicket/match,impact bowling,Total impact,Semi-probability
0,AFGANISTHAN,101,Mohammad Nabi*,YES,100,1667,21.9,140.3,84,7.29,0.1920,0.84,0.1106,0.3027,0.02
1,AFGANISTHAN,102,FAREED AHMAD,NO,21,27,0.0,112.5,30,8.70,0.0000,1.43,0.1576,0.1576,0.02
2,AFGANISTHAN,103,NAJIBULLAH ZADRAN*,NO,82,1512,32.2,142.4,1,4.00,0.2866,0.01,0.0029,0.2895,0.02
3,AFGANISTHAN,104,QAIS AHMAD,NO,2,8,8.0,88.9,4,7.66,0.0445,2.00,0.2507,0.2951,0.02
4,AFGANISTHAN,105,HAZRAT ZAZAI,NO,32,952,32.8,136.4,0,0.00,0.2796,0.00,0.0000,0.2796,0.02

# Data Preprocessing and Cleaning

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Team names        174 non-null    object
 1   PLAYER ID         174 non-null    int64
 2   PLAYER NAME       174 non-null    object
 3   Key_Player        174 non-null    object
 4   MATCHES           174 non-null    int64
 5   TOTAL RUN         174 non-null    int64
 6   BATTING AVG       174 non-null    float64
 7   Strike Rate       174 non-null    float64
 8   Wickets           174 non-null    int64
 9   ECONOMY           174 non-null    float64
 10  IMPACT (batting)  174 non-null    float64
 11  wicket/match      174 non-null    float64
 12  impact bowling    174 non-null    float64
 13  Total impact      174 non-null    float64
 14  Semi-probability  174 non-null    float64
dtypes: float64(8), int64(4), object(3)
memory usage: 20.5+ KB

In [4]:
#performing label encoding on the categorical variables (Key Player to Target)
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label = label_encoder.fit_transform(df.Key_Player)
df['Target'] = label
df.head()

,Team names,PLAYER ID,PLAYER NAME,Key_Player,MATCHES,TOTAL RUN,BATTING AVG,Strike Rate,Wickets,ECONOMY,IMPACT (batting),wicket/match,impact bowling,Total impact,Semi-probability,Target
0,AFGANISTHAN,101,Mohammad Nabi*,YES,100,1667,21.9,140.3,84,7.29,0.1920,0.84,0.1106,0.3027,0.02,1
1,AFGANISTHAN,102,FAREED AHMAD,NO,21,27,0.0,112.5,30,8.70,0.0000,1.43,0.1576,0.1576,0.02,0
2,AFGANISTHAN,103,NAJIBULLAH ZADRAN*,NO,82,1512,32.2,142.4,1,4.00,0.2866,0.01,0.0029,0.2895,0.02,0
3,AFGANISTHAN,104,QAIS AHMAD,NO,2,8,8.0,88.9,4,7.66,0.0445,2.00,0.2507,0.2951,0.02,0
4,AFGANISTHAN,105,HAZRAT ZAZAI,NO,32,952,32.8,136.4,0,0.00,0.2796,0.00,0.0000,0.2796,0.02,0

# 1.DF.INFO()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Team names        174 non-null    object
 1   PLAYER ID         174 non-null    int64
 2   PLAYER NAME       174 non-null    object
 3   Key_Player        174 non-null    object
 4   MATCHES           174 non-null    int64
 5   TOTAL RUN         174 non-null    int64
 6   BATTING AVG       174 non-null    float64
 7   Strike Rate       174 non-null    float64
 8   Wickets           174 non-null    int64
 9   ECONOMY           174 non-null    float64
 10  IMPACT (batting)  174 non-null    float64
 11  wicket/match      174 non-null    float64
 12  impact bowling    174 non-null    float64
 13  Total impact      174 non-null    float64
 14  Semi-probability  174 non-null    float64
 15  Target            174 non-null    int32
dtypes: float64(8), int32(1), int64(4), object(3)
memory usage: 21.2+ KB

In [6]:
#performing label encoding on the categorical variables (Key Player to Target)
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label = label_encoder.fit_transform(df.Key_Player)
df['Target'] = label
df.head()

,Team names,PLAYER ID,PLAYER NAME,Key_Player,MATCHES,TOTAL RUN,BATTING AVG,Strike Rate,Wickets,ECONOMY,IMPACT (batting),wicket/match,impact bowling,Total impact,Semi-probability,Target
0,AFGANISTHAN,101,Mohammad Nabi*,YES,100,1667,21.9,140.3,84,7.29,0.1920,0.84,0.1106,0.3027,0.02,1
1,AFGANISTHAN,102,FAREED AHMAD,NO,21,27,0.0,112.5,30,8.70,0.0000,1.43,0.1576,0.1576,0.02,0
2,AFGANISTHAN,103,NAJIBULLAH ZADRAN*,NO,82,1512,32.2,142.4,1,4.00,0.2866,0.01,0.0029,0.2895,0.02,0
3,AFGANISTHAN,104,QAIS AHMAD,NO,2,8,8.0,88.9,4,7.66,0.0445,2.00,0.2507,0.2951,0.02,0
4,AFGANISTHAN,105,HAZRAT ZAZAI,NO,32,952,32.8,136.4,0,0.00,0.2796,0.00,0.0000,0.2796,0.02,0