In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('CSE_445_Project_DB.csv')
df.head()

,Team names,PLAYER ID,PLAYER NAME,Key_Player,MATCHES,TOTAL RUN,BATTING AVG,Strike Rate,Wickets,ECONOMY,IMPACT (batting),wicket/match,impact bowling,Total impact,Semi-probability,MVP
0,AFGANISTHAN,101,Mohammad Nabi*,NO,100,1667,21.9,140.3,84,7.29,0.19,0.84,0.11,0.30,0.02,YES
1,AFGANISTHAN,102,FAREED AHMAD,NO,21,27,0.0,112.5,30,8.70,0.00,1.43,0.16,0.16,0.02,NO
2,AFGANISTHAN,103,NAJIBULLAH ZADRAN*,NO,82,1512,32.2,142.4,1,4.00,0.29,0.01,0.00,0.29,0.02,NO
3,AFGANISTHAN,104,QAIS AHMAD,NO,2,8,8.0,88.9,4,7.66,0.04,2.00,0.25,0.30,0.02,NO
4,AFGANISTHAN,105,HAZRAT ZAZAI,YES,32,952,32.8,136.4,0,0.00,0.28,0.00,0.00,0.28,0.02,NO

In [4]:
df.dtypes

Team names           object
PLAYER ID             int64
PLAYER NAME          object
Key_Player           object
MATCHES               int64
TOTAL RUN             int64
BATTING AVG         float64
Strike Rate         float64
Wickets               int64
ECONOMY             float64
IMPACT (batting)    float64
wicket/match        float64
impact bowling      float64
Total impact        float64
Semi-probability    float64
MVP                  object
dtype: object

In [5]:
df.shape

(205, 16)

In [6]:
df.drop(['Team names', 'PLAYER NAME'], axis=1, inplace=True)

In [7]:
df.shape

(205, 14)

In [8]:
df.describe()

,PLAYER ID,MATCHES,TOTAL RUN,BATTING AVG,Strike Rate,Wickets,ECONOMY,IMPACT (batting),wicket/match,impact bowling,Total impact,Semi-probability
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.00000,205.000000,205.000000,205.000000
mean,207.151220,39.351220,555.717073,19.039659,112.941415,22.131707,5.895122,0.151366,0.60078,0.076000,0.227171,0.183756
std,64.938973,26.790647,738.183740,11.570433,37.371603,27.607849,3.908878,0.108072,0.57259,0.073562,0.091393,0.180666
min,101.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,152.000000,20.000000,34.000000,10.000000,100.000000,0.000000,0.000000,0.060000,0.00000,0.000000,0.170000,0.020000
50%,204.000000,34.000000,260.000000,20.350000,120.510000,10.000000,7.290000,0.150000,0.57000,0.070000,0.220000,0.100000
75%,259.000000,53.000000,792.000000,26.500000,136.200000,35.000000,8.200000,0.220000,1.10000,0.140000,0.280000,0.350000
max,326.000000,143.000000,3794.000000,57.380000,225.000000,125.000000,21.000000,0.490000,2.25000,0.270000,0.580000,0.500000

In [9]:
df.duplicated().sum()

0

In [10]:
df.isnull().sum()

PLAYER ID           0
Key_Player          0
MATCHES             0
TOTAL RUN           0
BATTING AVG         0
Strike Rate         0
Wickets             0
ECONOMY             0
IMPACT (batting)    0
wicket/match        0
impact bowling      0
Total impact        0
Semi-probability    0
MVP                 0
dtype: int64

In [11]:
df['Key_Player'].value_counts()

NO     162
YES     43
Name: Key_Player, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label = label_encoder.fit_transform(df.Key_Player)
df['Target_key_player'] = label
df.head()

,PLAYER ID,Key_Player,MATCHES,TOTAL RUN,BATTING AVG,Strike Rate,Wickets,ECONOMY,IMPACT (batting),wicket/match,impact bowling,Total impact,Semi-probability,MVP,Target_key_player
0,101,NO,100,1667,21.9,140.3,84,7.29,0.19,0.84,0.11,0.30,0.02,YES,0
1,102,NO,21,27,0.0,112.5,30,8.70,0.00,1.43,0.16,0.16,0.02,NO,0
2,103,NO,82,1512,32.2,142.4,1,4.00,0.29,0.01,0.00,0.29,0.02,NO,0
3,104,NO,2,8,8.0,88.9,4,7.66,0.04,2.00,0.25,0.30,0.02,NO,0
4,105,YES,32,952,32.8,136.4,0,0.00,0.28,0.00,0.00,0.28,0.02,NO,1

In [13]:
from sklearn.preprocessing import LabelEncoder
label_encoder1 = LabelEncoder()
label1 = label_encoder1.fit_transform(df.MVP)
df['Target_MVP'] = label1
df.head()

,PLAYER ID,Key_Player,MATCHES,TOTAL RUN,BATTING AVG,Strike Rate,Wickets,ECONOMY,IMPACT (batting),wicket/match,impact bowling,Total impact,Semi-probability,MVP,Target_key_player,Target_MVP
0,101,NO,100,1667,21.9,140.3,84,7.29,0.19,0.84,0.11,0.30,0.02,YES,0,1
1,102,NO,21,27,0.0,112.5,30,8.70,0.00,1.43,0.16,0.16,0.02,NO,0,0
2,103,NO,82,1512,32.2,142.4,1,4.00,0.29,0.01,0.00,0.29,0.02,NO,0,0
3,104,NO,2,8,8.0,88.9,4,7.66,0.04,2.00,0.25,0.30,0.02,NO,0,0
4,105,YES,32,952,32.8,136.4,0,0.00,0.28,0.00,0.00,0.28,0.02,NO,1,0

In [14]:
df1 = df.drop(['Key_Player', 'MVP',], axis=1)
df1.head()

,PLAYER ID,MATCHES,TOTAL RUN,BATTING AVG,Strike Rate,Wickets,ECONOMY,IMPACT (batting),wicket/match,impact bowling,Total impact,Semi-probability,Target_key_player,Target_MVP
0,101,100,1667,21.9,140.3,84,7.29,0.19,0.84,0.11,0.30,0.02,0,1
1,102,21,27,0.0,112.5,30,8.70,0.00,1.43,0.16,0.16,0.02,0,0
2,103,82,1512,32.2,142.4,1,4.00,0.29,0.01,0.00,0.29,0.02,0,0
3,104,2,8,8.0,88.9,4,7.66,0.04,2.00,0.25,0.30,0.02,0,0
4,105,32,952,32.8,136.4,0,0.00,0.28,0.00,0.00,0.28,0.02,1,0

# Correcting the Imabalance In Dataset by SMOTE.

In [15]:
df1['Target_MVP'].value_counts()

0    164
1     41
Name: Target_MVP, dtype: int64

In [16]:
X = df1.drop(['Target_MVP'], axis=1)
y = df1['Target_MVP']

print('Feature (X) Shape Before Balancing :', X.shape)
print('Target_MVP (y) Shape Before Balancing :', y.shape)

Feature (X) Shape Before Balancing : (205, 13)
Target_MVP (y) Shape Before Balancing : (205,)

In [17]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=300)

In [18]:
X, y = sm.fit_resample(X, y)

In [19]:
print('Feature (X) Shape After Balancing :', X.shape)
print('Target_MVP (y) Shape After Balancing :', y.shape)

Feature (X) Shape After Balancing : (328, 13)
Target_MVP (y) Shape After Balancing : (328,)

# Splitting the Data

In [20]:
x = df1.drop(columns=['Target_MVP', 'PLAYER ID'])
y = df1['Target_MVP']

In [21]:
x.max()

MATCHES               143.00
TOTAL RUN            3794.00
BATTING AVG            57.38
Strike Rate           225.00
Wickets               125.00
ECONOMY                21.00
IMPACT (batting)        0.49
wicket/match            2.25
impact bowling          0.27
Total impact            0.58
Semi-probability        0.50
Target_key_player       1.00
dtype: float64

In [22]:
x.min()

MATCHES              0.0
TOTAL RUN            0.0
BATTING AVG          0.0
Strike Rate          0.0
Wickets              0.0
ECONOMY              0.0
IMPACT (batting)     0.0
wicket/match         0.0
impact bowling       0.0
Total impact         0.0
Semi-probability     0.0
Target_key_player    0.0
dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=30)