In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('CSE_445_Project_DB.csv')
df.head()

,Team names,PLAYER ID,PLAYER NAME,Key_Player,MATCHES,TOTAL RUN,BATTING AVG,Strike Rate,Wickets,ECONOMY,IMPACT (batting),wicket/match,impact bowling,Total impact,Semi-probability,MVP
0,AFGANISTHAN,101,Mohammad Nabi*,NO,100,1667,21.9,140.3,84,7.29,0.19,0.84,0.11,0.30,0.02,YES
1,AFGANISTHAN,102,FAREED AHMAD,NO,21,27,0.0,112.5,30,8.70,0.00,1.43,0.16,0.16,0.02,NO
2,AFGANISTHAN,103,NAJIBULLAH ZADRAN*,NO,82,1512,32.2,142.4,1,4.00,0.29,0.01,0.00,0.29,0.02,NO
3,AFGANISTHAN,104,QAIS AHMAD,NO,2,8,8.0,88.9,4,7.66,0.04,2.00,0.25,0.30,0.02,NO
4,AFGANISTHAN,105,HAZRAT ZAZAI,YES,32,952,32.8,136.4,0,0.00,0.28,0.00,0.00,0.28,0.02,NO